@model IEnumerable<EURISTest.Models.CatalogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <ul>
                @foreach (var product in item.SelectedProducts)
                {
                    <li>@Html.DisplayFor(modelItem => product)</li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { code = item.Code }) |
            @Html.ActionLink("Details", "Details", new { code = item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { code = item.Code })
        </td>
    </tr>
}

</table>
